body {
    /* overflow: hidden; */
    background: rgb(5,49,121);
    /* background: linear-gradient(170deg, rgba(5,49,121,1) 0%, rgba(8,99,172,1) 100%); */
}

.admin {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.new-row {
    min-height: 100% !important;
    padding: 120px 0 20px 0 !important;
}

.white-back {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 20px;
    text-align: center;
    padding: 20px 40px;
}

.span-header {
    width: 100%;
    color: #053179;
    font-size: 20px;
    font-weight: 600;
}

.problem-field {
    width: 100%;
    background-color: transparent;
    border: 1px solid #0863AC;
    border-radius: 5px;
    outline: none;
    resize: none;

    padding: 10px 15px 10px 15px;
    font-family: "Gill Sans", sans-serif;
}

.problem-field:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #0863AC;
}

.new-form {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    text-align: left;
    position: relative;
}

.problem-wrapper {
    padding-top: 5px;
    padding-bottom: 20px;
}

.confirm-btn {
    position: absolute;
    bottom: 40px;
    background-color: #053179;
    border-radius: 5px;
    width: 100%;
    display: flex;
    text-align: center;
    border: 0;
}

.confirm-btn span {
    color: #fff;
    width: 100%;
    padding: 10px 20px;
}

.select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: transparent;
    border: 1px solid #0863AC;
    border-radius: 5px;
    outline: none;

    padding: 10px 35px 10px 15px;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.select::-ms-expand {
    display: none;
}

.select:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #0863AC, 0px 0px 0px 1px #7e9bbd;
}

.select option {
    font-family: "Gill Sans", sans-serif;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    display: block;

    pointer-events: none;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: #0863AC transparent transparent transparent;
}

.select-wrapper {
    padding-top: 5px;
    position: relative;
}

.selector {
    display: flex;
    flex-direction: column;
}

.load-product {
    padding: 130px 0;
}

.load-block {
    background-color: #FFF;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.first-row-set {
    width: 400px;
}

.input-row {
    padding-top: 20px;
}

.btn-div {
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.load-btn {
    padding: 10px 20px;
    background-color: #053179;
    border-radius: 5px;
    border: 0;
}

.load-btn span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}