.buy-panel {
    width: 100%;
    background-color: #eee;
    border-radius: 20px;
    display: flex;
    margin-bottom: 80px;
}

.buy-block {
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buy-block .image-block {
    flex: none;
    background-image: url("../assets/automat.png");
    background-size: 100%;
    height: 100%;
    width: 500px;
    border-radius: 0 20px 20px 0;
}

.buy-block .text-block {
    width: 100%;
    padding: 40px;
    position: relative;
}

.text-block .more-text-block {
    display: flex;
    flex-direction: column;
}

.text-block .more-text-block .head {
    color: #053179;
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.about-order-wrapper {
    width: 100%;
    padding-top: 5px;
}

.about-order {
    width: 100%;
    background-color: transparent;
    border: 1px solid #0863AC;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    height: 150px;
    font-family: "Gill Sans", sans-serif;
    outline: none;
    resize: none;
}

.buy-btn {
    margin-top: 100px;
    width: 100%;
    height: 42px;
    background-color: #053179;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.buy-btn .buy-span {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

