body {
    width: 100%;
    height: 100vh;
    margin: 0;
    /* background-image: url("../assets/background.png"); */
    background-color: #eee;
    overflow-x: hidden;
    font-family: "Gill Sans", sans-serif;
}

header {
    z-index: 999;
    background: rgba(26, 26, 26, 0.06);
    width: 100%;
    position: absolute;
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header .menu-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header ul {
    display: inline;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: baseline;
}

header ul li {
    cursor: pointer;
    margin-left: 60px;
    font-size: 20px;
    color: #fff;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li .btn-header {
    background-color: #fff;
    /* width: 190px; */
    /* height: 45px;    */
    border-radius: 20px 20px 20px 0; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

header ul li .btn-header span {
    color: #212121;
    font-size: 20px;
    padding: 10px 20px;
}

header .image {
    display: flex;
    justify-content: center;
    align-content: center;
}

header img {
    height: 80px;
    width: auto;
}