.main {
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/background.png");
    /* background-size: 100%; */
    padding: 200px 120px 0 120px;
    display: flex;
    justify-content: space-between;
}

.right-text span {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.report-panel {
    width: 458px;
    height: 514px;
    background-color: #fff;
    border-radius: 20px;
}

.report-panel .head-text {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.report-panel .head-text span {
    color: #053179;
    font-weight: 600;
    font-size: 24px;
}
