<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Админ панель | Автомат с едой</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.svg" alt="">
        <ul>
            <li><a href="#load-product">Загрузить продукты</a></li>
            <li>
                <a href="/">
                    <div class="btn-header">
                        <span>Вернуться на главную</span>
                    </div>
                </a>
            </li>
        </ul>
    </header>
    
    <div class="admin">
        <div class="container">
            <div class="row new-row">
                <div class="col-6">
                    <div class="white-back">
                        <span class="span-header">Добавить новый автомат</span>
                        <form class="new-form" method="post" action="admin/machine">
                            <label for="geo-machine" class="select-label">Геопозиция автомата</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="Moscow..." id='geo-machine' name='geo-machine' required></input>
                            </div>
                            <label for="geo-decs-machine" class="select-label">Описание геопозиции</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="В торговом центре..." id='geo-decs-machine' name='geo-decs-machine' required></input>
                            </div>
                            <label for="install-date" class="select-label">Дата установки</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="2022-11-07" id='install-date' name='install-date' required></input>
                            </div>
                            <label for="max-products" class="select-label">Максимальное число продуктов</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="1" id='max-products' name='max-products' required type="number"></input>
                            </div>

                            <button class="confirm-btn">
                                <span>Добавить автомат</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div class="white-back">
                        <span class="span-header">Добавить новый продукт</span>

                        <form class="new-form" method="post" action="admin/product">
                            <label for="prod" class="select-label">Название</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="Twiks..." id='prod' name='prod' required></input>
                            </div>
                            <label for="price-prod" class="select-label">Цена</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="266.00" id='price-prod' name='price-prod' type="number" step="0.01" required></input>
                            </div>
                            <label for="desc" class="select-label">Описание</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="С карамельной начинкой..." id='desc' name='desc' required></input>
                            </div>
                            <label for="date-added" class="select-label">Дата добавления</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="2022-11-07" id='date-added' name='date-added' required></input>
                            </div>
                            <label for="before" class="select-label">Срок годности</label>
                            <div class="problem-wrapper">
                                <input class="problem-field" placeholder="2023-11-07" id='before' name='before' required></input>
                            </div>

                            <button class="confirm-btn">
                                <span>Добавить продукт</span>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="load-product" id="load-product" name="load-product">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="load-block">
                        <span class="span-header">Загрузить продукты в автомат</span>
                        <form class="new-form" method="post" action="admin/load">
                            <div class="first-row">

                                <div class="first-row-set">
                                    <div class="selector">
                                        <label for="select-machine" class="select-label">Выберите автомат</label>
                                        <div class="select-wrapper">
                                            <select class="select" id="select-machine" name="select-machine">
                                                {% for el in machines %}
                                                <option value={{ el[0] }}>{{ el[1] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="input-row">
                                        <label for="prod-num" class="select-label">Введите количество товара</label>
                                        <div class="problem-wrapper">
                                            <input class="problem-field" placeholder="20" id='prod-num' name='prod-num' type="number" required></input>
                                        </div>
                                    </div>
                                </div>

                                <div class="first-row-set">
                                    <div class="selector">
                                        <label for="select-product" class="select-label">Выберите товар</label>
                                        <div class="select-wrapper">
                                            <select class="select" id="select-product" name="select-product">
                                                {% for el in products %}
                                                <option value={{ el[0] }}>{{ el[1] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="btn-div">
                                        <button class="load-btn">
                                            <span>Заполнить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../static/js/anchor.js"></script>

</body>
</html>