<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Отправлено! | Автомат с едой</title>
    <link rel="stylesheet" type="text/css" href="../static/css/confirm-page.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css">
</head>
<body>
    <div class="confirm-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="send-block">
                        <span class="head-span">{{ head }}</span>
                        <span class="text-span">{{ text }}</span>
                        <a href={{href}}>
                            <div class="btn">
                                <span>{{ btn_text }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>