<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Автомат с едой</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/info-panel.css">
    <link rel="stylesheet" type="text/css" href="../static/css/buy-panel.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.svg" alt="">
        <ul>
            <li>Главная</li>
            <li>О нас</li>
            <li>
                <div class="btn-header">
                    <span>Купить товар</span>
                </div>
            </li>
        </ul>
    </header>

    <div class="main">
        <div class="right-text">
            <span>Ближе, чем ты думаешь!</span>
        </div>
        <div class="report-panel">
            <div class="head-text">
                <span>Пожаловаться на автомат</span>
            </div>
        </div>
    </div>

    <div class="info-panel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-us">
                        <span class="black-head-text">Наши преимущества</span>
                        <span class="blue-head-text">выгодно / качественно / доступно</span>

                        <div class="info-blocks">
                            <div class="text-info-blocks">
                                <span class="titul-text">230</span>
                                <span class="desc-text">Городов России озвачено</span>
                            </div>
                            <div class="text-info-blocks">
                                <span class="titul-text">1425</span>
                                <span class="desc-text">Установленных автоматов</span>
                            </div>
                            <div class="text-info-blocks">
                                <span class="titul-text">10602</span>
                                <span class="desc-text">Различных товаров доступно</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buy-panel" id="buy-panel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="buy-block">
                        <div class="text-block">
                            <div class="more-text-block">
                                <span class="head">Приобрести товар</span>
                            </div>
                        </div>
                        <div class="image-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <span>luckoff © 2022</span>
    <footer>
</body>
</html>